@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-mirror-dark-blue: #005471;
  --color-mirror-blue: #0096c9;
  --color-mirror-light-blue: #eaf2f5;
  --color-mirror-green: #33e62a;
  --color-mirror-white: #ffffff;
  --color-mirror-hover-blue: #a5f3fc;
  --color-mirror-cyan-light: #ecfeff;
  --color-mirror-text-dark: #1e293b;
  --color-mirror-text-muted: #64748b;
  --color-mirror-text-light: #94a3b8;
  --color-mirror-border: #e2e8f0;
  --color-mirror-cyan-footer: #cffafe;

  --font-mirror-noto: "Noto Sans JP", sans-serif;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-mirror-white);
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
}
