@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-mirror-dark-blue: #005471;
  --color-mirror-cyan: #0096c9;
  --color-mirror-light-blue: #eaf2f5;
  --color-mirror-green: #33e62a;
  --color-mirror-white: #ffffff;
  --color-mirror-gray: #64748b;
  --color-mirror-black: #090e17;
  --color-mirror-dark-gray: #1e293b;
  --color-mirror-light-gray: #cbd5e1;
  --color-mirror-red: #ef4444;

  --font-mirror-noto: "Noto Sans JP", sans-serif;

  --animate-scan: scan 2.5s ease-in-out infinite;

  @keyframes scan {
    0%,
    100% {
      top: 0%;
      opacity: 0.3;
    }
    50% {
      top: 98%;
      opacity: 1;
    }
  }
}

@layer base {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-mirror-white);
    font-family: var(--font-mirror-noto);
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }
  body,
  html {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    background: #fff;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .print-a4-page {
    width: 210mm !important;
    height: 297mm !important;
    max-width: none !important;
    max-height: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 15mm 15mm !important;
    box-shadow: none !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
  .print-a4-page-landscape {
    width: 390mm !important;
    height: 276mm !important;
    max-width: none !important;
    max-height: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 10mm 15mm !important;
    box-shadow: none !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    transform: scale(0.76) !important;
    transform-origin: top left !important;
  }
}
